.profile__edit-button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: black;
  background-image: url(../../../images/profile__edit-button.svg);
  background-size: cover;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 30px;
    height: 30px;
  }
}


@media screen and (max-width: 510px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
