.header {
  margin: 45px auto 0;
  display: flex;
  flex-direction: column;
  min-height: 74px;
  width: 100%;
  max-width: 880px;
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 19px;
  }
}

@media screen and (max-width: 424px) {
  .header {
    margin-top: 28px;
    min-height: 56px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  }
}
