.card__icon-like {
  height: 19px;
  min-width: 22px;
  background-image: url(../../../images/icon-like.svg);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  transition: opacity .3s ease-out;
  cursor: pointer;
}
.card__icon-like:hover {
  opacity: 0.5;
}

.card__icon-like:focus {
  outline: none;
}

.card__icon-like:active {
  outline: none;
  background-image: url(../../../../images/icon-like_active.svg);
}


