.profile__name {
  min-height: 39px;
  margin: 0 18px 0 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}

@media screen and (max-width: 1279px) {
  .profile__name {
    max-width: 328px;
  }
}

@media screen and (max-width: 620px) {
  .profile__name {
    min-height: 26px;
    margin-right: 20px;
    font-size: 33px;
    line-height: 1.22;
    text-align: center;
  }
}

@media screen and (max-width: 510px) {
  .profile__name {
    margin-right: 10px;
    font-size: 27px;
  }
}

@media screen and (max-width: 424px) {
  .profile__name {
    margin-right: 10px;
    max-width: 260px;
  }
}
