.popup__save-button {
  border: none;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  background-color: black;
  box-sizing: border-box;
  width: 358px;
  min-height: 50px;
  color: white;
  transition: opacity .3s ease-out;
  cursor: pointer;
  border-radius: 2px;
}

@media screen and (max-width: 530px) {
  .popup__save-button {
    font-size: 14px;
    width: 238px;
    min-height: 46px;
  }
}

.popup__save-button:hover {
  opacity: 0.8;
}
