.footer {
  margin: 67px auto 60px;
  width: 100%;
  max-width: 880px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0 19px;
  }
}

@media screen and (max-width: 424px) {
  .footer {
    padding: 0 19px;
    margin: 48px auto 36px;
  }
}
